<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>OCR</title>
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <div>
        <label for="file">Загрузите файл для распознования.</label>
        <input type="file" id="file" name="file" multiple enctype="multipart/form-data"/>
    </div>
    <div>
        <button>Submit</button>
    </div>
</form>
<form method="post" , enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-primary btn-sm" type="submit">Upload</button>
    {% for document in object_list %}
        <a href="{{ document.csv_file.url }}" download class="btn btn-dark float-right">Download</a>
    {% endfor %}
</form>
</body>
</html>